
__pycache__/
*.py[cod]
*.pyo
*.pyd

*.pyc
*.pyo
*.pyd

*.sqlite3
*.db
dump.rdb
*.rdb

**/migrations/
!**/migrations/__init__.py

.env

secrets.json

media/

.vscode/

venv/
ENV/
env/
.venv/

node_modules/
*.log

.coverage
htmlcov/
coverage.xml
*.cover
*.py,cover

.mypy_cache/
.dmypy.json
dmypy.json

.pytest_cache/

.idea/
*.swp

.DS_Store

